trigger:
- main

pool:
  name: local

steps:

- powershell: |
    Write-Host "Building container..."
    podman build -t demoapp:latest .
  displayName: Build Image

- powershell: |
    Write-Host "Container images:"
    podman images
  displayName: Verify Image
