trigger:
- main

pool:
  name: local

variables:
  imageName: demoapp

steps:

- task: Docker@2
  inputs:
    command: build
    Dockerfile: '**/Dockerfile'
    tags: |
      latest

- script: echo "Build complete!"